@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #D3D3D3;
  --accent-green: #228B22;
  --accent-maroon: #800020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
}

canvas {
  display: block;
  touch-action: none;
}
